{% extends "app/layout.html" %}
{% load custom_markdown %}
{% block content %}
<div class="posts">
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">
                {{post.title}}
            </h2>
            <p class="post-meta">
                Time:<a class="post-author" href="#">
                {{post.timestamp}}</a>
            </p>
        </header>
        <div>
            <p>
                {{post.body|custom_markdown}}
            </p>
        </div>
    </section>
</div>
{% endblock %}