
{% extends "app/layout.html" %}
{% load custom_markdown %}
{% load staticfiles %}
{% block content %}
{% load threadedcomments_tags %}

<div class="posts">
    <section class="post">
        <header class="post-header">
            <h2 class="post-title">
                {{post.title}}
            </h2>
            <p class="post-meta">
                Time:<a class="post-author" href="#">
                {{post.timestamp}}</a>
            </p>
        </header>
        <div>
            <p>
                {{post.body|custom_markdown|linebreaksbr}}
                {% render_comment_list for post %}
                {% render_comment_form for post %}
              
            </p>
        </div>
    </section>
</div>
{% endblock %}